@import '../../variables';

#hero-page-container {
    width: 100%;
    height: 100%;
    background-image: url("src/assets/pathum-danthanarayana-789194-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#hero-page-content-container {
    margin: 2rem;
}

#hero-page-header-container {
    color: $primary-font-color;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}